# Misc
.DS_Store
.env
.vscode
.idea
.fleet
.VSCodeCounter

# Dependencies
node_modules/
/.pnp
.pnp.js

# Cache
build-cache

# Testing
coverage/

# Production
build/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# Optional eslint cache
.eslintcache